NODE_ENV=development
PORT=4000
CLIENT_ORIGIN=http://localhost:3000

DATABASE_URL=
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ecommerce
DB_USER=postgres
DB_PASSWORD=0000
DB_SSL=false

JWT_SECRET=Hello.1992@ellshop
JWT_EXPIRES_IN=7d

ADMIN_NAME=Store Admin
ADMIN_EMAIL=admin@ellora.local
ADMIN_PASSWORD=change-me
